<p id="notice"><%= notice %></p>

<h1>Listing Routings</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Possible</th>
      <th>Next question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routings.each do |routing| %>
      <tr>
        <td><%= routing.question_id %></td>
        <td><%= routing.possible_id %></td>
        <td><%= routing.next_question_id %></td>
        <td><%= link_to 'Show', routing %></td>
        <td><%= link_to 'Edit', edit_routing_path(routing) %></td>
        <td><%= link_to 'Destroy', routing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Routing', new_routing_path %>
